@font-face {
  font-family: Montserrat;
  src: url('fonts/Montserrat-Thin.woff') format('woff'), url('fonts/Montserrat-Thin.woff2') format('woff2');
  font-weight: 100;
}
@font-face {
  font-family: Montserrat;
  src: url('fonts/Montserrat-Thinitalic.woff') format('woff'), url('fonts/Montserrat-Thinitalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}